<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Font Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500&display=swap" rel="stylesheet">

  <title>2019 : Project Title</title>

 <link rel="stylesheet" type="text/css" href="https://deco3850-ixd-exhibit.uqcloud.net/css/masterstyle.css">
  <!-- Rebox JS CSS -->
  <link rel="stylesheet" media="all" type="text/css" href="https://deco3850-ixd-exhibit.uqcloud.net/css/jquery-rebox.css" />
  	

</head>
<body>
  <div class="container">
    <!-- Images + captions (nominate one as representative/thumbnail) – no limit on amount, will need to cater for both portrait & landscape format -->

    <!-- Representative Image/Thumbnail -->
    <header>

      <div class="title">
        <!-- Project Title & Team Name -->
        <h1 class="titletext">PROJECT TITLE</h1>
        <!-- Project 1-liner – max 140 characters. -->
        <h3 class="tagline">Short tagline describing your project</h3>
      </div>
    </header>
    
    <div class="content">

      <aside class="left">

        <!-- Project theme & domain -->
        <div class="category">
          <!-- List of Team Members (using their preferred names), their key contributions/role and preferred contact information (email - don't use your s122345 email) -->
          <h3><span class="label">By Team Name</span></h3>
          <ul class="nodot team">
            <li class="member"><a href="mailto:YOUREMAIL@EXAMPLE.COM">Team Member Name</a><br><span class="role">CONTRIBUTIONS & ROLE</span></li><!-- Copy & paste this line for each team member -->
          </ul>

          <!-- List of interaction design methods used to inform project -->
          <h3><span class="label">Design Methods Used</span></h3>
          <ul class="nodot">
            <li class="method">Method</li>
          </ul>
		  <!-- List of technology used in the implementation of your project. If you know this now, fill it in now. Otherwise this should be completed following the exhibit.-->
          <h3><span class="label">Technology Used</span></h3>
          <ul class="nodot">
            <li class="tech">Technology</li>
          </ul>
          <!-- List of additional keywords (these can be type of interaction, audience, technology… ) -->
          <h3><span class="label">Keywords</span></h3>
          <ul class="nodot">
            <li class="keyword">Keyword</li>
          </ul>
          
		 
        </div>

      </aside>

      <section>

        <!-- Kickstarter style/explainer embedded video -->
        <!-- https://codepen.io/cobycreative/pen/cIrnv -->
        <div class="wrapper">
          <div class="h_iframe">
          	<!-- copy YouTube embed code here! -->
          </div>
        </div>

        <!-- Project Description – 150 - 300 words describing what the project is and the intended experience. -->
        <p>Minimum 250 - maximum 500 word description of your project! In particular, each team is required to produce a ‘Kickstarter’ or ‘Explainer’ video to explain the project. This video provides a method of explaining the application, the human values supported by the application, and the experience you are seeking to create with the prototype. The video is also useful as a ‘Plan B’ if something goes wrong with your exhibition and will be used in case of COVID restrictions. </p>


		<!-- Image gallery for images of the concept - sketches, photos etc -->
        <div id="concept_desc" class="gallery image-container">

          <!--

          COPY & PASTE THIS FOR EACH NEW IMAGE YOU WISH TO DISPLAY. 
          BE SURE TO REPLACE THE FULL SIZE IMAGE & THUMBNAIL WHERE APPROPRIATE (LOOK FOR THE CAPITALISED TEXT. AND DON'T FORGET YOUR CAPTIONS!!!!!!

          <div class="pictosquare">
            <a href="FULL SIZE OF IMAGE A" title="CAPTION FOR IMAGE A">
              <img class="containimage" src="images/thumbs/THUMBNAIL FILE" alt="ALTERNATE TEXT FOR IMAGE A"/>
            </a>
          </div>

          -->

          <!-- FIRST IMAGE IS TO BE A FEATURE IMAGE -->
          <div class="pictosquare">
            <a href="images/replace_this_image1.jpg" title="Caption for image A"><img class="containimage" src="images/thumbs/replace_this_image1.jpg" alt="Top view User tests"/></a>
          </div>

          <div class="pictosquare">
            <a href="images/replace_this_image2.jpg" title="Caption for image B"><img class="containimage" src="images/thumbs/replace_this_image2.jpg" alt="Side view User tests"/></a>
          </div>


        </div>
        
        <h3>Technical Development &amp; Construction</h3>
        <p>Maximum 500 words describing the implementation & technical specifications of your project.</p>
        
        
		<!-- Image gallery for images of the technical development and construction of your project -->
		<div id="technical_desc" class="gallery image-container">

          <!--

          COPY & PASTE THIS FOR EACH NEW IMAGE YOU WISH TO DISPLAY. BE SURE TO REPLACE THE FULL SIZE IMAGE & THUMBNAIL WHERE APPROPRIATE (LOOK FOR THE CAPITALISED TEXT. AND DON'T FORGET YOUR CAPTIONS!!!!!!

          <div class="pictosquare">
            <a href="FULL SIZE OF IMAGE A" title="CAPTION FOR IMAGE A">
              <img class="containimage" src="images/thumbs/THUMBNAIL FILE" alt="ALTERNATE TEXT FOR IMAGE A"/>
            </a>
          </div>

          -->
          <div class="pictosquare">
            <a href="images/replace_this_image1.jpg" title="Caption for image A"><img class="containimage" src="images/thumbs/replace_this_image1.jpg" alt="Top view User tests"/></a>
          </div>

          <div class="pictosquare">
            <a href="images/replace_this_image2.jpg" title="Caption for image B"><img class="containimage" src="images/thumbs/replace_this_image2.jpg" alt="Side view User tests"/></a>
          </div>


        </div>
        
        <!-- To be completed following the Exhibit - a description of how the project is built (physical form, technology hardware and software. And a final statement regarding the response from visitors to the exhibit and next steps for the project. 
        <h3>Final Statement</h3>
        <p>Maximum 500 words describing the outcomes of the exhibit, public response to your work and key next steps for the project.</p>
        -->
        
      </div>
	  
    </section>
    
	<footer><p>This project was produced as part of the Semester 2, 2020 Physical Computing and Interaction Design Studio</p></footer>
  
  </div>

  <!-- Rebox JS Script -->
  <script src="https://deco3850-ixd-exhibit.uqcloud.net/lib/jquery.min.js"></script>
  <script src="https://deco3850-ixd-exhibit.uqcloud.net/lib/jquery-litelighter.js"></script>
  <script src="https://deco3850-ixd-exhibit.uqcloud.net/js/jquery-rebox.js"></script>
  <script src="https://deco3850-ixd-exhibit.uqcloud.net/js/imagefit.js"></script>
  <script>
  $('#concept_desc').rebox({ selector: 'a' });
  $('#technical_desc').rebox({ selector: 'a' });
  </script>

</body>
</html>
